*{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans', sans-serif;
}
#header-section{
    background:url(../source/images/header_bg.png),url(../source/images/developer.png);
    background-repeat:no-repeat;
    background-position: bottom right, left;
}
.nav-logo{
    color:#181818;
    font-weight:bold;
    font-size:30px;

}
.sub-logo{
    color:#FD6E0A;

}
.nav-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 200px;
}
.nav-section ul{
    display:flex;
    list-style-type: none;

}

.nav-section ul li {
  padding:20px;
    text-decoration: none;
    
}
.nav-section ul li a{
    text-decoration: none;
    color:#181818;
    font-size: 18px;
   
    
}
.primary-btn{
     background-color: #FD6E0A;
     color:aliceblue;
     padding:7px 13px;
     border: none;
     font-size: 18px;;
}
.header-part{
    display:flex;
    justify-content: space-between;
    margin-left:200px;
    margin-right: 50px;
    align-items: center;
}
.primary-btn2{
    color:#181818;
    border:2px solid #FD6E0A;
    padding:8px 20px;
    color:#FD6E0A;
    margin-left:20px;
}
.sub-head-part{
    font-size: 30px;
    word-spacing: 5px;
   
}
.header-writing h2{
    font-size: 40px;
    padding-bottom: 10px;
}
.header-writing p{
    padding-bottom:12px;
}